<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Administracion Inventarios</title>
<link rel="stylesheet" type="text/css" href="{$moduleDir}style/style.css" /> 
<link rel="shortcut icon" href="images/favicon.ico?pin=324234" type="image/x-icon" />

{literal}

<!--script type="text/javascript" src="template/js/jquery-1.3.2.min.js"></script-->
<script type="text/javascript" src="template/js/jquery.js"></script>
<script type="text/javascript" src="template/js/jquery.form.js"></script>
<script type="text/javascript" src="template/js/alerts/jquery.alerts.js"></script> 
<script type="text/javascript" src="template/js/lightbox/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" href="template/js/lightbox/css/jquery.lightbox-0.5.css" media="screen" />
<link href="template/js/alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" /> 

<link rel="stylesheet" type="text/css" href="template/js/submodal/subModal.css" />
<script type="text/javascript" src="template/js/submodal/common.js"></script>
<script type="text/javascript" src="template/js/submodal/subModal.js"></script>
<script type="text/javascript" src="template/js/global.js"></script>
{/literal}

</head>

<body>

<table width="90%" border="0" cellpadding="5" cellspacing="0" align="center" bgcolor="#666666" >
  <tr>
<td>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF"  style="min-height:768px">
  <tr>
    <td colspan="2">{include file="header.tpl"} </td>
  </tr>
  <tr>
    <td width="50px"  valign="top" align="center" bgcolor="#999999">{include file="menu.tpl"} </td>
    <td width="950px"  valign="top" >
    <div style="min-height:550px;padding:10px;">
    {include file=$content}
    </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" height="50px" bgcolor="#006699">{include file="bottom.tpl"} </td>
  </tr>
</table>

</td>
</tr>
</table>
{*
<div id="layout" class="clearfix">
   <div id="cabecera">{include file="header.tpl"}</div>
   <div id="lateral">{include file="menu.tpl"}</div>
   <div id="contenido"> 
   <div style="padding:10px;">
   {include file=$content}
   </div>
   </div>
   <div id="pie">{include file="bottom.tpl"}</div>
</div>
</body>
</html>
*}